.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/@types/**
**/test/**
**/tests/**
**/*.test.js
**/*.spec.js
.github/**
DEVELOPMENT.md
CONTRIBUTING.md
